@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Usamos el valor de ViewData["TextColor"] para aplicar el color -->
    <h1 style="color: @ViewData["TextColor"];">Este es un texto en color rojo</h1>
</div>
