@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Caniche"]</h1>

<div class="text-center">
    <img src="https://www.hogarmania.com/archivos/201705/mascotas-perros-razas-caniche-XxXx80.jpg" alt="caniche de ejemplo" style="width:150px; height:150px; " />
</div>
